/* Styles CSS pour la mise en page */
body {
    background-color: #f2f2f2;
    color: #000000;
    font-family: Arial, sans-serif;
}

.job1 {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #2a218c;
    border-radius: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: #1cadcc;
    position: relative;
    transition: transform 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.job1:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.job1:hover::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #2a218c;
}

.job1 img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    margin-top: -2px;
}

.job1 p {
    margin-bottom: 0;
    color: #ffffff;
}

.job {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #2a218c;
    border-radius: 10px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
    transition: transform 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.job:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.job:hover::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #2a218c;
}

.job img {
    width: 60px;
    height: 60px;
    float: right;
    margin-top: -20px;
    border-radius: 50%;
}

.job h3 {
    margin-top: 0;
    font-weight: bold;
    color: #156cca;
    font-size: 22px;
}

.job p {
    margin-bottom: 5px;
    color: #050408f0;
}

.job .company {
    font-size: 20px;
}

.job .location {
    color: #050408f0;
}

.recrutement {
    color: green;
}

.job-info {
    float: right;
    margin-left: 20px;
    width: calc(35% - 20px); /* Deux tiers de la page moins la marge */
    padding: 10px;
    background-color: white;
    display: none; /* Masquer par défaut */
    color: black;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.titre {
    font-weight: bold;
    color: black;
}

.bouton {
    background-color: #156cca;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

.bouton:hover {
    background-color: #0b4f96;
}

.job1:hover .location {
    color: #ffffff;
}

.job:hover .company,
.job1:hover .location {
    color: #ffffff;
}
